<ul>
    <div class="border-[#2a75bb] border-2 w-24 p-2 rounded-md bg-[#ffcb05] relative">
        <li>#{{ pokemon.id }}</li>
        <li>{{ pokemon.name }}</li>
        <img [src]="pokemon.image" [alt]="pokemon.name">
        <app-catch-button [pokemonId]="pokemon.id" [pokemonName]="pokemon.name"></app-catch-button>
    </div>
</ul>
