<nav class="flex bg-[#3c5aa6] justify-between items-center sticky top-0  z-50">
    <span class="pokeText tracking-widest text-2xl p-2">Pokemon Trainer</span>
    <ng-container *ngIf="user !== undefined">
        <ul class="flex">
            <li class="box box-border mr-2 p-3">
                <a (click)="logOut()" class=" border-4 border-[#c7a008] rounded-xl p-1 pl-4 pr-4 pokeBtn  text-lg">Log out</a>
            </li>
            <li class="box-border mr-2 p-3">
                <a class="border-4 border-[#c7a008] rounded-xl p-1 pokeBtn text-lg" routerLink="/pokemons">Pokémon</a>
            </li>
            <li class="box box-border mr-2 p-3">
                <a class=" border-4 border-[#c7a008] rounded-xl p-1 pl-4 pr-4 pokeBtn  text-lg" routerLink="/trainer">Trainer</a>
            </li>
        </ul>
    </ng-container>
</nav>
