<header class="container">
    <h1 class="text-3xl text-black text-center">Welcome {{user?.username}}</h1>
</header>

<main class="container">
    
    <h4 class="text-2xl text-black text-center">Pokemon in your collection</h4>
    <div class="flex justify-around">
        <app-pokemon-list [pokemons]="pokemonCaught"></app-pokemon-list>
    </div>
</main>