<h1 class="text-5xl p-4 text-center">Trainer Login</h1>
<div class="">
    <form class="" #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm)">
        <div class="block border w-full m-auto border-slate-900 rounded shadow-2xl max-w-3xl">
            <div class="flex justify-around">
                <label class="text-2xl">Trainer Name</label>
            </div>
            <div class="flex justify-around m-2">
                <input #trainerName="ngModel" type="text" ngModel name="trainerName" class="border border-slate-900 p-1 rounded" placeholder="Enter Trainer Name" required minlength="3">
            </div>
            <div class="text-center" *ngIf="trainerName.errors && (trainerName.dirty)">
                <p *ngIf="trainerName.errors['required']" >Required please enter a username</p>
                <p *ngIf="trainerName.errors['minlength']" >Username min length is 3</p>
            </div>            
            <div class="flex justify-around m-2"> 
                <button  type="submit" [disabled]="loginForm.invalid" class="border border-slate-900 rounded p-1">Log in</button>
            </div>
        </div>
    </form>
</div>


