<div (click)="onBallClick()" class="absolute top-1 right-1 cursor-pointer">
    <ng-container *ngIf="_isCaught; then caught else notCaught">
    </ng-container>
    <ng-template #caught>
        <img width="16" [src]="pokeballCaughtImage" alt="pokeball filled">
    </ng-template>
    <ng-template #notCaught>
        <img width="16" [src]="pokeballNotCaughtImage" alt="pokeball filled">
    </ng-template>
</div>